{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}

{%  bootstrap_messages %}

{% include "_modal.html" %}

<!-- Create book button -->
    <br>
<button class="create-book btn btn-primary" type="button" name="button">Create Book</button>
    <br> <br>
    <table class="table-info" border="1">
        <thead>
            <tr>
                <td>Title</td>
                <td>Author</td>
                <td>Book Type</td>
                <td>Time stamp</td>
                <td>Edit</td>
                <td>View</td>
                <td>Delete</td>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
            <tr>
                <td><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></td>
                <td>{{ object.author }} - {{ object.author.first_name}}</td>
                <td>{{ object.book_type }}</td>
                <td>{{ object.timestamp }}</td>
                <td>
                    <button type="button" class="update-book btn btn-sm btn-primary"
                            data-id="{% url 'books:update' object.pk %}">
                            <span class="fa fa-edit"></span>
                    </button>
                </td>
                <td>
                    <button type="button" class="read-book btn btn-sm btn-primary"
                            data-id="{% url 'books:detail' object.pk %}">
                            <span class="fa fa-eye"></span>
                    </button>
                </td>
                <td>
                    <button type="button" class="delete-book btn btn-sm btn-primary"
                            data-id="{% url 'books:delete' object.pk %}">
                            <span class="fa fa-trash"></span>
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}


{% block extrascripts %}
  <script type="text/javascript">
    $(function () {
      // Create book button
      $(".create-book").modalForm({formURL: "{% url 'books:create' %}"});

      // Update book buttons
      $(".update-book").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      });

      // Read book buttons
      $(".read-book").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      });

      // Delete book buttons
      $(".delete-book").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      });

    });
  </script>
{% endblock %}
